version: 2
jobs:
  build:
    docker:
      - image: circleci/android:api-26-alpha
    environment:
      - JVM_OPTS: -Xmx3200m
    steps:
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "library/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "library/build.gradle" }}
      - run:
          name: Run Tests
          command: ./gradlew :library:test
      - store_artifacts:
          path: library/build/reports
          destination: reports